<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>NO NINJAS</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index_css.css')}}">
    </head>
    <body>
        <div id = "wrapper"> <!-- Start Wrapper -->
            <br>
            <h2>There are no ninjas here.</h2><br>
            <p>But add "/ninja" to the address in your browser and see what happens...</p>
        </div> <!-- End Wrapper -->
    </body>
</html>
