<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'time_display/styles/time.css' %}">
    <title>Current Date and Time</title>
</head>
<body>
    <h1>Current date and time:</h1>
    <div>
        <p>{{day}}</p>
        <p>{{time}}</p>
        <p>{{zone}}</p>
    </div>
</body>
</html>