<!Doctype html>
<html>
    <head>
        <title>Hello Flask!</title>
    </head>

    <body>
        <h1>About Page</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor vitae nulla et venenatis. Quisque arcu dolor, iaculis vitae vulputate ut, faucibus non massa. Nulla ac fringilla odio. Suspendisse tempus, elit dapibus cursus porttitor, velit urna condimentum arcu, id feugiat erat sem vitae nisi. Nullam cursus, tellus sagittis sollicitudin facilisis, risus dolor fringilla dolor, eu venenatis eros nulla at purus. Nulla facilisi. Sed mollis augue felis, ac mattis ligula dignissim vitae. Mauris vehicula semper lorem, et feugiat dui lobortis eu. Nulla elit quam, tempus non felis ut, congue blandit ex. Praesent sed bibendum nibh.
        </p>
        <a href="/">Back Home</a>
        <a href="/projects">Projects</a>
    </body>
</html>