<!-- <!Doctype html>
<html>
    <head>
        <title>Landing Page</title>
    </head>

    <body>
        <h1>Hello!</h1>
        <h2>Welcome to the Landing Page</h2>
        <ul>
            <a href="/ninjas">Ninjas</a>
            <a href="/dojos/new">Dojos</a>
        </ul>
    </body>
</html> -->


<html>
        <head>
            <title>What's My Name</title>
        </head>
        <body>
            <h1>What is your name</h1>
            <h3>Enter your name</h3>
            
            <form action='/process' method='post'>
                What is your name: <input type='text' name='name'>
                <input type='submit' value='yeah thats my name'>
            </form>
            
        </body>
    </html>