<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojos</title>
    <link rel="stylesheet" href="../static/styles.css">
  </head>
  <body>
    <form class="" action="" method="post">
      <h1>New Dojo</h1>
      <input type="text" name="dojo_name" value="" placeholder="Enter Dojo Name Here">
      <input type="text" name="address" value="" placeholder="Enter Address Here">
      <input type="text" name="dojo_leader" value="" placeholder="Enter Dojo Leader Here">
      <input type="text" name="dojo_school" value="" placeholder="Enter the school (python, mean, ruby) of your dojo here">
    </form>
  </body>
</html>
