<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninjas</title>
    <link rel="stylesheet" href="../static/styles.css">
  </head>
  <body>
    <h1>Ninjas</h1>
    <p>Ninjas are super cool human beings who have expert level skills in stealth and deception. They can hide in plane sight and usually come out during the night for recon missions or assassination attempts! While most ninjas follow this decription, the ninjas at CodingDojo are extremely skilled in, you guessed it, CODE!</p>
  </body>
</html>
