		.win{
			color: green;
		}
		.lose{
			color: red;
		}
		img{
			width: 200px;
			height: 150px;
		}
		#message{
			border: 1px solid black;
			width: 400px;
			height: 50px;
			text-align: center;
			vertical-align: middle;
			margin-bottom: 20px;
		}