<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Dojo Survey">
        <title>Dojo Survey</title>
    </head>
    <body>
        <form action="/results" method="post">
            {% with messages = get_flashed_messages() %}
                {% if messages: %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <p>Name: <input type="text" name="name"></p>
            <p>
                Dojo Location: 
                <select name="dojo">
                    <option value="San Jose">San Jose</option>
                    <option value="Silicon Valley">Silicon Valley</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Dallas">Dallas</option>
                </select>
            </p>
            <p>
                Favorite Language:
                <select name="lang">
                    <option value="JavaScript">JavaScript</option>
                    <option value="Python">Python</option>
                    <option value="Ruby">Ruby</option>
                </select>
            </p>
            <p>Comment (optional):</p>
            <p><textarea name="comment" rows=4 cols=50></textarea></p>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>