<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/number.js') }}"></script>
    <title>Document</title>
</head>
<body>
    <form id="game" action="/" method="POST">
        <input type="hidden" id="reset" name="reset" value="false">
        <div>
            {% if session['guess'] == session['target']: %}
            <h1>Winner Winner Chicken Dinner!</h1>
            <p>Would you like to play again?</p>
            <input id="resetgame" type="button" value="Play Again">
            {% else: %}
            <h1>Welcome to the Great Guessing Game!</h1>
                {% if session['guess'] == 0: %}
            <p>I'm thinking of a number between 1 and 100. What is it??</p>
                {% elif session['guess'] != 0 and session['guess'] != session['target']: %}
            <p>Nope, wrong guess.</p>
                    {% if session['guess'] > session['target']: %}
            <p>Your guess was high. Guess again.</p>
                    {% else: %}
            <p>Your guess was low. Guess again.</p>
                    {% endif %}
                {% endif %}
            <input type="text" name="guess">
            <p><input type="submit" name="submit" value="Submit"></p>
            {% endif %}
    </form>
</body>
</html>