<!DOCTYPE html>
<html lang="en">
<head>
    <title>Disappearing Ninja</title>
</head>

<body>
    {% if session['myKey'] == 'hello' %}
    <div>
        <img src="{{url_for('static', filename='leonardo.jpg')}}">
        <img src="{{url_for('static', filename='raphael.jpg')}}">
        <img src="{{url_for('static', filename='michelangelo.jpg')}}">
        <img src="{{url_for('static', filename='donatello.jpg')}}">
    </div>
    {% elif color == 'blue' %}
    <img src="{{url_for('static', filename='leonardo.jpg')}}">
    {% elif color == 'red' %}
    <img src="{{url_for('static', filename='raphael.jpg')}}">
    {% elif color == 'orange' %}
    <img src="{{url_for('static', filename='michelangelo.jpg')}}">
    {% elif color == 'purple' %}
    <img src="{{url_for('static', filename='donatello.jpg')}}">
    {% else %}
    <img src="{{url_for('static', filename='notapril.jpg')}}">
    {% endif %}


</body>
</html>