<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Ninja Info">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Ninja Facts</title>
    </head>
    <body>
        <p class="standard">While the second character does roughly mean “person,” the first means “endure,” “spy,” or “hide.” Thus, the word ninja means “a person who endures or spies.” But, in spoken Japanese, the word for “one who endures or hides” is actually “shinobi mono.” Usually it was shortened to just “shinobi.”</p>
    </body>
</html>