<!-- Form Page -->

<!-- <!Doctype html>
<html>
    <head>
        <title>Hello Flask!</title>
    </head>

    <body>
        <h1>Hello!</h1>
        <h2>Welcome to {{content}}'s portfolio</h2>
        <ul>
            <a href="/projects">Projects</a>
            <a href="/about">about</a>
        </ul>
    </body>
</html> -->


<html>
    <head>
        <title>Dojo Form</title>
    </head>
    <body>
        <h1>Dojo Form</h1>
        <h3>Create a User</h3>
        
        <form action='/dojos/new' method='post'>
            Name: <input type='text' name='name'>
            Email: <input type='text' name='email'>
            <input type='submit' value='create user'>
        </form>

        <ul>
            <a href="/ninjas">ninjas</a>
            <a href="/">Home</a>
        </ul>
    </body>
</html>