<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="AJAX Ninjas">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/ajaxninjas.js') }}"></script>
        <title>AJAX Ninjas</title>
    </head>
    <body>
        <p><img src=""></p>
        <button type="button" value="blue">Blue</button>
        <button type="button" value="orange">Orange</button>
        <button type="button" value="red">Red</button>
        <button type="button" value="purple">Purple</button>
    </body>
</html>