.wrapper {
    width: 1250px;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 40px;
    background-color: #999999;
}

.pane {
    width: 295px;
    height: 200px;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    margin: 6px;
}

.activities {
    width: 1232px;
    height: 150px;
    margin: 8px;
    border: 1px solid black;
    overflow: auto;
}

.activities p {
    margin: 1px;
    padding: 0px;
}

.green {
    color: #00ff00;
}

.red {
    color: #ff0000;
}