<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ninjagold.css') }}">
    <title>Document</title>
</head>
<body>
    <form name="goldform" action="/process" method="POST">
        <div class="wrapper">
            <p>Gold:  <input type="text" name="gold" value="{{ session['gold'] }}" readonly></p>
            <div class="pane">
                <h2>Farm</h2>
                <p>Earn 10-20 Gold</p>
                <p><input type="submit" name="farm" value="Find Gold!"></p>
            </div>
            <div class="pane">
                <h2>Cave</h2>
                <p>Earn 5-10 Gold</p>
                <p><input type="submit" name="cave" value="Find Gold!"></p>
            </div>
            <div class="pane">
                <h2>House</h2>
                <p>Earn 2-5 Gold</p>
                <p><input type="submit" name="house" value="Find Gold!"></p>
            </div>
            <div class="pane">
                <h2>Casino</h2>
                <p>Win/Lose up to 50 Gold</p>
                <p><input type="submit" name="casino" value="Find Gold!"></p>
            </div>
            <div class="activities">
                {% for activity in session['activities']: %}
                    {{ activity|safe }}
                {% endfor %}
            </div>
            <div>
                <input type="submit" name="reset" value="Reset Game">
            </div>
        </div>
    </form>
</body>
</html>