<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <title>Email Validation</title>
  <meta name="author" content="Staci Rodriquez">

</head>

<body>

  <form action='/email' method='POST'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <label for="email">Email Address:<input type="text" name="email" id="email"></label>
    <input type="submit" value="Submit">
  </form>
</body>

</html>