<html>
<head>
    <title>Jean Claude Van Damme</title>
            <style>
        body {background-color: powderblue; text-align:center;}
        h1   {color: blue;}
        p    {color: red;}
    </style>
</head>
<body>
    <h1>Drunk Disco Training</h1>
    <img src="https://i.makeagif.com/media/9-18-2015/bF1JQv.gif"/>
    <audio src="http://www.chestergayao.com/download/i/mark_dl/u/4012824293/4633032705/Kickboxer%20Jean%20Claude%20Van%20Damme%20Dance%20[HD]%20(1).mp3" controls="controls">
        Your browser does not support the audio element.
    </audio>


</body>
</html>