<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Color Picker</title>
</head>
<body style="background-color: rgb({{red}}, {{green}}, {{blue}})"></body>
    <h1>Enter Your Color Values Below:</h1>
    <form action="/process" method="post">
        <p>Red: <input type="text" name="red"></p>
        <p>Green: <input type="text" name="green"></p>
        <p>Blue: <input type="text" name="blue"></p>
        <p><input type="submit" name="submit" value="Show My Color!"></p>
    </form>
</body>
</html>