<!DOCTYPE html>
<head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lpCSS.css') }}">
    <title>Document</title>
</head>
<body>
    <h2>About Ninjas</h2>
    <p>Ninjas were mercenies who appeared in feudal Japan in the 15th century, but antecedents may have existed as early as the 12th century. Their covert methods of waging war included: espionage, sabotage, infiltration, assassination, and guerilla warfare. They were actively hired as spies and mercenaries during a period of unrest from the 15th to 17th centuries. Following the unification of Japan in the 17th century, the ninja faded into obscurity, leaving behind folklore which has widely changed the perception of the ninja in popular culture. They became associated with fantastical abilities like invisibility, walking on water, and control over the natural elements.</p>
</body>
</html>