<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ninja Gold</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/styles.css') }}">                        
    </head>
    <body>
        <p>Your gold: {{ session['gold'] }}</p>
        {% if session['debt'] == 'yes' %}
        <h1>You POOR!</h1>
        {% endif %}
        <div>
            <form action="/process" method="post">
                <h3>Farm</h3>
                <p>(earns 10 - 20 gold)</p>
                <input type="hidden" name="building" value="farm" />
                <input type="submit" value="Find Gold!"/>
            </form>
            <form action="/process" method="post">
                <h3>Cave</h3>
                <p>(earns 5 - 10 gold)</p>
                <input type="hidden" name="building" value="cave" />
                <input type="submit" value="Find Gold!"/>
            </form>
            <form action="/process" method="post">
                <h3>House</h3>
                <p>(earns 2 - 5 gold)</p>
                <input type="hidden" name="building" value="house" />
                <input type="submit" value="Find Gold!"/>
            </form>
            <form action="/process" method="post">
                <h3>Casino</h3>
                <p>(earns/loses 0 - 50 gold)</p>
                <input type="hidden" name="building" value="casino" />
                <input type="submit" value="Find Gold!"/>
            </form>
            {% if session['debt'] == 'nah' %}
            <img src="{{ url_for('static', filename='img/shaqShimy.gif') }}">
            {% endif %}
        </div>
        <div id = 'log'>
            <h2>Activity log:</h2>
            {% for i in range(1, session['len']) %}
                {% if session['log'][session['len']-i][0] == 'L' %}
                    <p style="color:maroon;">{{session['log'][session['len']-i]}}</p>
                {% else %}
                    <p style="color:darkgreen;">{{session['log'][session['len']-i]}}</p>
                {% endif %}
            {% endfor %}
        </div>
    </body>
</html>