<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/index.css">
</head>
<body>
  <div class="wrapper">
          <div class="top">

              <p>What's Your Name ?</p>
             <img src="static/arrows.png" class="leftarrow" />

              <img src="static/arrow.png" class="rightarrow" />

              <img src="static/ex.jpg" />
              <img src="static/capture1.png" id="capture1" />
              <img src="static/capture3.png" id="capture3" />
              <img src="static/capture.png" id="capture" />

          </div>
          <div class="midcontainer">


              <p class="par1">
                Your Name :
                  <input type="text" name="fullname">
                  <button class="btn1">Add User</button>
              </p>

          </div>


      </div>
</body>
</html>
