<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ninja Gold</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/ninja_gold.css')}}">
</head>
<body>
    <div id="wrapper">
        <h1>Your Gold: {{session['gold']}}</h1>
        <div class="options">
            <h2>Farm</h2>
            <p>(Earns 10-20 golds)</p>
            <form action="/process" method="post">
                <input type="hidden" name="building" value="farm">
                <input type="submit" value="Find Gold!">
            </form>
        </div><!--
     --><div class="options">
            <h2>Cave</h2>
            <p>(Earns 5-10 golds)</p>
            <form action="/process" method="post">
                <input type="hidden" name="building" value="cave">
                <input type="submit" value="Find Gold!">
            </form>
        </div><!--
     --><div class="options">
            <h2>House</h2>
            <p>(Earns 2-5 golds)</p>
            <form action="/process" method="post">
                <input type="hidden" name="building" value="house">
                <input type="submit" value="Find Gold!">
            </form>
        </div><!--
     --><div class="options" id="last">
            <h2>Casino</h2>
            <p>(Takes 0-50 golds)</p>
            <form action="/process" method="post">
                <input type="hidden" name="building" value="casino">
                <input type="submit" value="Find Gold!">
            </form>
        </div><!--
     --><div id="messages">
            {% for activity in session['activities']|reverse %}
                {% if activity[0] == "L" %}
                <p class="red">{{activity}}</p>
                {% else %}
                <p class="green">{{activity}}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>