<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form action='/surveys/process' method="POST">
        {% csrf_token %}
            <p><label for="name">Your Name: </label><input type="text" name="name"></p>    
            <p>
                <label for="location">Dojo Location</label>
                <select name='location'>
                    <option selected value="Seattle">Seattle</option>
                    <option value="San Jose">San Jose</option>
                    <option value="Burbank">Burbank</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Dallas">Dallas</option>
                    <option value="Tulsa">Tulsa</option>
                    <option value="Washington D.C.">Washington D.C.</option>
                </select>
            </p>    
            <p>
                <label for="language">Favorite Language</label>
                <select name='language'>
                    <option selected value="Python">Python</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="C#">C#</option>
                    <option value="Ruby">Ruby</option>
                    <option value="C++">C++</option>
                </select>
            </p>    
            <p><label for="comment">Comment: </label><textarea name="comment" rows="4" cols="30"></textarea></p>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>