<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dojo Survey</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styles.css')}}">
</head>
<body>
    <form action="/result" method="post">
        <label>
            Your Name: <input type="text" name="name">
        </label>
        <label> Dojo Location:
            <select name="location">
                <option value="Dallas">Dallas</option>
                <option value="San Jose">San Jose</option>
                <option value="Chicago">Chicago</option>
            </select>
        </label>
        <label> Favorite Language:
            <select name="language">
                <option value="Python">Python</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Pig Latin">Pig Latin</option>
            </select>
        </label>
        <p>Comment (optional):</p>
        <textarea name="comment"></textarea>
        <input type="submit" name="submit">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>